@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

.header {
    width: 100%;
    display: flex;
    padding-left: 50px;
    align-items: center;
    height: 100px;
    background-color: #111;
    color: #FFF;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

.header nav ul {
    list-style: none;
    display: flex;
}

.header nav ul li {
    padding-left: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #FFF;
}